.l-sidebar {
  background-color: #F2EDE9;
  width: 25%;
  padding-bottom: 100px;
  @include tab{
    position: absolute;
    right: -100%;
    transition: all 0.7s ease;
    width: 44%;
    @include sp{
      width: 87%;
    }
    &.active{
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      
    }
  }
 
  
}

.l-sidebar__overlay{
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    visibility: hidden;
    transition: all 0.7s ease;
  @include tab{
    &.active{
    display: block;
    opacity: 0.5;
    visibility: visible;
  }}
      
}


// .l-sideber__single{
//   background-color: #F2EDE9;
//   width: 100%;
//   @include sp{
//     display: none;
//   }
// }

// sidebar-wp

